.contact-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
}

.form-control {
    display: flex;
    justify-content: space-around;
}

.form-control > button {
    width: 48%;
}